<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZaisekiKakunin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZaisekiKakunin.My.MySettings>
            <setting name="各座席ボタンのID" serializeAs="String">
                <value />
            </setting>
            <setting name="各座席ボタンのX座標" serializeAs="String">
                <value />
            </setting>
            <setting name="各座席ボタンのY座標" serializeAs="String">
                <value />
            </setting>
            <setting name="各座席ボタンのテキスト" serializeAs="String">
                <value />
            </setting>
            <setting name="各座席ボタンの数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="各座席ボタンの高さ" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="各座席ボタンの幅" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="各座席ボタンのフォントサイズ" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="irucaのルームコード" serializeAs="String">
                <value>bb4842f5-9956-44eb-8a0d-d7801c685c06</value>
            </setting>
            <setting name="離席になるまでの時間" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="離席判定対象のID" serializeAs="String">
                <value>未設定</value>
            </setting>
            <setting name="離席判定をするかどうか" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="離席判定対象の名前" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="vanilla" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ウィンドウのX座標" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ウィンドウのY座標" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ウィンドウの幅" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ウィンドウの高さ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="自動起動" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="自動更新をするかどうか" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="自動更新間隔" serializeAs="String">
                <value>10</value>
            </setting>
        </ZaisekiKakunin.My.MySettings>
    </userSettings>
</configuration>